body { background-color:white; font-family: 'montserrat';}

body.dark{
    background-color: black;
}

nav {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 15%;
    width: 87%;
    background: white;
    position: fixed;
    left: 6%;
    z-index: 1;
}

 nav ul {
    margin: 10px 0px 20px 0px;
    margin-top: 1%
}

 nav ul li {
    float: left; 
    margin: 20px 0px 0px 250px;
    list-style: none;
    font-weight: 900;
}

 nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color:#CC0085;
}

.logonav {
    margin-top: -5%;
    margin-left: 6%;
    width: 1%;
    height: 1%;
}

#headerImage img{
    width: 100%;
    height: 700px;
   
    }

#pink {
    position: absolute;
    background-image: linear-gradient(#FFAFE3,#CC0085,transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 725px;
    opacity: 60%;
}

header h1 {
    color: white;
    font-size: 5vw;
    width: 80%;
    margin-top: 12%;
    margin-left: 20%;
    opacity: 100%;
    font-family: playfair-display;
    font-weight: 450;
    line-height: 1.1;
}
header h1.dark{
    color: black;
    font-size: 5vw;
    width: 80%;
    margin-top: 12%;
    margin-left: 20%;
    opacity: 100%;
    font-family: playfair-display;
    font-weight: 450;
    line-height: 1.1;
}


p {
    color: white;
    font-size: 1.4em;
    width: 80%;
    margin-top: 5%;
    margin-left: 20%;
    opacity: 100%;
    font-family: 'montserrat';
    font-weight: 550;
    line-height: 1.3;


}
p.dark{
    color: black;
    font-size: 1.4em;
    width: 80%;
    margin-top: 5%;
    margin-left: 20%;
    opacity: 100%;
    font-family: 'montserrat';
    font-weight: 550;
    line-height: 1.3;


}

#vierkant1{
    background-color: #F4F2FF;
    border-radius: 20px;
    width: 352px;
    height: 384px;
    margin-left: 12%;
    margin-top: -50px;
    position: absolute;
}

#vierkant2{
    background-color: #F4F2FF;
    border-radius: 20px;
    width: 352px;
    height: 384px;
    margin-left: 38%;
    margin-top: -50px;
    position: absolute;
}

#vierkant3{
    background-color: #F4F2FF;
    border-radius: 20px;
    width: 352px;
    height: 384px;
    margin-left: 64%;
    margin-top: -50px;
    position: absolute;
}
.imgspeel {
    margin-top: 30%;
    margin-left: 27%;

}
.imgcodeer{
    margin-top: 33%;
    margin-left: 30%;
}
.imgleer{
    margin-top: 30%;
    margin-left: 27%;
    
}
.leertekst {
    text-decoration: none;
    font-size: 16px;
    color:#CC0085;
    margin-top: 13%;
    margin-left: 20%;
    font-weight: bold;

}
.codeertekst {
    text-decoration: none;
    font-size: 16px;
    color:#CC0085;
    margin-top: 10%;
    margin-left: 20%;
    font-weight: bold;

}

.speeltekst {
    text-decoration: none;
    font-size: 16px;
    color:#CC0085;
    margin-top: 10%;
    margin-left: 20%;
    font-weight: bold;
 
}
#container{
    width: 100%;
    height: 400px;
}
.playlist h1 {
    text-decoration: none;
    font-size: 1.2em;
    color:#CC0085;
    margin-top: 0%;
    margin-left: 12%;
    font-weight: 530;
    padding-bottom: 3%;
}

button.accordion{
    width:75%;
    margin-left:12%;
    margin-top:0%;
    background-color: white;
    outline: 3px solid #FFAFE3;
    border: none;
    text-align: left;
    padding: 1% 1%;
    font-size: 1.3em;
    font-weight: bold;
    color:#FFAFE3;
    cursor: pointer;
}

.video p{
    color: black;
    margin-left:14%;
    margin-top:2%;
}
.video p.dark{
    color: white;
    margin-left:14%;
    margin-top:2%;
}

.video {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.support h1 {
    text-decoration: none;
    font-size: 1.2em;
    color:#CC0085;
    margin-top: 0%;
    margin-left: 12%;
    font-weight: 530;
    padding-top: 5%;
}

.support p {
    color: #CC0085;
    font-size: 1.4em;
    width: 80%;
    margin-top: 2%;
    margin-left: 12%;
    opacity: 100%;
    font-family: 'montserrat';
    font-weight: 550;
    line-height: 1.3;
    


}

#contactcontainer {
    background-color: #CC0085;
    border-radius: 20px;
    width: 271px;
    height: 58px;
    margin-left: 67%;
    margin-top: 3%;
    position: absolute;
}

.contacttekst {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top: 6.4%;
    margin-left: 20%;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

}

.contacttekst a:hover{
    opacity: 70%;
}


.slickwrap{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.slickwrap button {
    visibility: hidden;
}


.slickwrap h2 {
    font-size: 0.9em;
    margin-top: 75px;
    font-weight: 600;
    margin-bottom: 15px;;
    display: block;  
    text-align: left;
}

.background {
    display: inline-block;
    text-align: left;
    width: 400px;
    height: 200px;
    margin: 50px;
    background-color: #F5F9FC;
    border-radius: 20px;
}

.background img{
    width: 40%;
    float: left;
    padding: 20px;
    border-radius: 40%;
}

.background h4{
    font-family: 'Montserrat', sans-serif;
    color: #CC0085;
    padding: 50px 0px 0px 0px;
}

.background p{
    color: #FFAFE3;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
    font-size: 0.9em;
}

.background a{
    color: white ;
    background: #CC0085;
    padding: 5px 30px;
    font-weight: 700;
    border-radius: 8px;
    font-size: 0.8em;
    text-decoration: none;
}

.background a:hover{
    opacity: 70%;
}

.mailcontainer {
    background-color: #CC0085;
    border-radius: 10px;
    width: 108px;
    height: 32px;
    margin-left: 50%;
    margin-top: 34%;
    position: absolute;
    
}

.mailcontainer a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-top: 7.5%;
    margin-left: 35%;
    font-weight: 500;
    
}

#komcontainer {
        background-color: white;
        border-radius: 20px;
        width: 271px;
        height: 58px;
        margin-left: 40%;
        margin-top: 45%;
        position: absolute;

    
    
}

.komtekst a {
    text-decoration: none;
    font-size: 20px;
    color:#CC0085;
    margin-top: 6.7%;
    margin-left: 20%;
    font-weight: 550;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
}
.slickwrap{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.slickwrap button {
    visibility: hidden;
}


.slickwrap h2 {
    font-size: 0.9em;
    margin-top: 75px;
    font-weight: 600;
    margin-bottom: 15px;;
    display: block;  
    text-align: left;
}

.backgroundbox {
    display: inline-block;
    text-align: left;
    width: 400px;
    height: 200px;
    margin: 50px;
    background-color: #F5F9FC;
    border-radius: 20px;
}

.backgroundbox img{
    width: 40%;
    height: 40%;
    float: left;
    padding: 20px;
}

.backgroundbox h4{
    font-family: 'Montserrat', sans-serif;
    color: #253A4E;
    padding: 50px 0px 0px 0px;
}

.backgroundbox p{
    color: #7A99B5;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
    font-size: 0.9em;
}

.backgroundbox a{
    color: #253A4E ;
    background: #ffbc00;
    padding: 5px 30px;
    font-weight: 700;
    border-radius: 8px;
    font-size: 0.8em;
    text-decoration: none;
}

.backgroundbox a:hover{
    opacity: 70%;
}
.footer {
    width: 100%;
    height: 450px;
}
.footerimg{
    width: 100%;
    height: auto;
    margin-top: 20%;

}
#pinkfooter {
position: absolute;
    background-image: linear-gradient(#FFAFE3,#CC0085,transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 459px;
    opacity: 60%;
    margin-top: 20%;
}   

.tekstfooter h1{
    color: white;
    font-size: 5vw;
    width: 80%;
    margin-top: 27%;
    margin-left: 10%;
    opacity: 100%;
    font-family: playfair-display;
    font-weight: 150;
    line-height: 1.1;
    position:absolute;
    text-align: center;
}

.tekstfooter p{ 
    color: white;
    font-size: 1.4em;
    width: 80%;
    margin-top: 40%;
    margin-left: 10%;
    opacity: 100%;
    font-family: 'montserrat';
    font-weight: 150;
    line-height: 1.3;
    position: absolute;
    text-align: center;

}
.switch{
height: 8%;
width: 8%;
margin-left: 90%;
}

.video {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    margin-left: 15%;
}


.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none};

    